.wishlist-container {
    width: 100%;
    margin: 0.5em auto;
    padding: 0;
    border: 0;
}

.card{
    max-width: 15em;
    margin: 0.5em;
}

.wishlist-heading {
    text-align: center;
}

.wishlist-items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-dismiss{
    font-size: 1.5em;
}