.content{
    position: relative;
    width: 100%;
}

.hero-img{
    width: 100%;
    height: calc(100vh - 5em);
    object-fit: cover;
    opacity: 0.9;
}

.brand-name{
    width: 100%;
    text-align: center;
}

.centered {
    position: absolute;
    font-size: 4em;
    font-weight: bold;
    color: var(--background-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-btn{
    position: absolute;
    font-size: 1em;
    max-width: fit-content;
    font-size: 1.3em;
    font-weight: bold;
    top: 60%;
    left: 50%;
    transform: scale(0.8) translate(-50%, 50%);
}

/* <------ Product -------> */
.product{
    position: relative;
    overflow: hidden;
    padding: 1.5em 0;
}

.product-category{
    color: var(--primary-font-color);
    opacity: 0.8;
    padding: 0 1em;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}

/* <--- Card ----> */

.product-scroll-container{
    width: 100%;
    height: fit-content;
    padding: 0 2em;
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-scroll-container img{
    width:12em;
}